/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #333;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 18px;
}

/* Section Styles */
.section {
    padding: 60px 0;
    background-color: white;
    margin-top: 20px;
}

#about {
    background-color: #ecf0f1;
}

ul {
    padding-left: 20px;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    margin: 10px 0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.details {
    padding-left: 110px;
}
